*{
    text-align: justify;
}

.text-verde-escuro{
    color: #004C2E;
}

.text-verde-claro{
    color: #BEC8B1;
}

.text-claro{
    color: #FFFFFD;
}

.bg-verde-escuro{
    background-color: #004C2E;
}

.text-center{
    align-items: center;
}



header nav img{
    max-height: 30px;
}

main{
    margin: 7% 0%;
}

main .container-fluid .row .col-md-4 img{
    max-height: 40vw;
    margin-bottom: 5%;
}

main button{
    margin-bottom: 10%;
    transition: 1s;
}

main button:hover, button:focus{
    background-color: #BEC8B1;
    color: #004C2E;
}

main .sobre-nos{
    height: auto;
    padding: 5% 5%;
}

main .sobre-nos .col-md-6 .video{
    border-radius: 10px;
}


.inputs:focus{
    border: 2px solid #F38B8A;
    box-shadow: none;
}


.text:focus{
    border: 2px solid #F38B8A;
    box-shadow: none;
}
